# This unit file is retrieved from traefik github repository
# @see https://raw.githubusercontent.com/containous/traefik/master/contrib/systemd/traefik.service
[Unit]
Description=Traefik

[Service]
Environment=DO_AUTH_TOKEN={{ do_auth_token }}
Type=notify
ExecStart=/usr/bin/traefik --configFile=/etc/traefik.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
